In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.head()

,Unnamed: 0,gender,ethnicity,parental level of education,lunch,test preparation course,reading score,writing score,math score
0,0,male,group C,some college,standard,none,61,62,61
1,1,female,group C,associate's degree,standard,none,62,53,53
2,2,female,group C,some college,free/reduced,completed,75,70,67
3,3,male,group C,some high school,free/reduced,none,76,65,79
4,4,male,group A,high school,free/reduced,none,58,44,53

In [4]:
train.drop('Unnamed: 0', axis = 1 , inplace= True)

In [5]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()

In [6]:
train['test preparation course']= label_encoder.fit_transform(train['test preparation course']) 
train['gender']= label_encoder.fit_transform(train['gender'])
train['lunch']= label_encoder.fit_transform(train['lunch'])
train['ethnicity']= label_encoder.fit_transform(train['ethnicity']) 
train['parental level of education']= label_encoder.fit_transform(train['parental level of education'])

In [7]:
scaler = preprocessing.MinMaxScaler() 
train['reading score'] = scaler.fit_transform(train[['reading score']]) 
train['writing score'] = scaler.fit_transform(train[['writing score']])

In [8]:
train.head()

,gender,ethnicity,parental level of education,lunch,test preparation course,reading score,writing score,math score
0,1,2,4,1,1,0.493506,0.552941,61
1,0,2,0,1,1,0.506494,0.447059,53
2,0,2,4,0,0,0.675325,0.647059,67
3,1,2,5,0,1,0.688312,0.588235,79
4,1,0,2,0,1,0.454545,0.341176,53

In [9]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [10]:
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

In [11]:
x = train[['gender','ethnicity','parental level of education','lunch','test preparation course','reading score','writing score']]

In [12]:
y = train['math score']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size = 0.15,random_state = 1)

In [15]:
def build_model(hp):
    model = keras.Sequential()
    for i in range(hp.Int('num_layers', 2, 20)):
        model.add(layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=32,
                                            max_value=512,
                                            step=32),
                               activation='relu'))
    model.add(layers.Dense(1, activation='linear'))
    model.compile(
        optimizer=keras.optimizers.Adam(
            hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])),
        loss='mean_absolute_error',
        metrics=['mean_absolute_error'])
    return model

In [16]:
tuner = RandomSearch(
    build_model,
    objective='val_mean_absolute_error',
    max_trials=10,
    executions_per_trial=3,
    directory='project1',
    project_name='Exam mark1')

INFO:tensorflow:Reloading Oracle from existing project project1\Exam mark1\oracle.json
INFO:tensorflow:Reloading Tuner from project1\Exam mark1\tuner0.json

In [17]:
tuner.search(X_train, Y_train,
             epochs=5,
             validation_data=(X_test, Y_test))

INFO:tensorflow:Oracle triggered exit

In [18]:
tuner.results_summary()

Results summary
Results in project1\Exam mark1
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 7
units_0: 192
units_1: 416
learning_rate: 0.01
units_2: 64
units_3: 480
units_4: 288
units_5: 96
units_6: 192
units_7: 448
units_8: 288
units_9: 160
units_10: 320
units_11: 288
units_12: 480
units_13: 64
units_14: 512
units_15: 32
units_16: 256
units_17: 96
units_18: 480
Score: 6.468705177307129
Trial summary
Hyperparameters:
num_layers: 11
units_0: 512
units_1: 64
learning_rate: 0.01
units_2: 384
units_3: 320
units_4: 256
units_5: 192
units_6: 320
units_7: 160
units_8: 256
units_9: 32
units_10: 32
Score: 6.766413847605388
Trial summary
Hyperparameters:
num_layers: 9
units_0: 192
units_1: 448
learning_rate: 0.001
units_2: 32
units_3: 32
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
Score: 7.060409704844157
Trial summary
Hyperparameters:
num_layers: 9
units_0: 96
units_1: 480
learning_rate: 0.001
units_2: 128
units_3: 352
units_4: 320
units_5: 256
units_6: 416
units_7: 320
units_8: 32
units_9: 256
units_10: 384
Score: 7.16163428624471
Trial summary
Hyperparameters:
num_layers: 5
units_0: 32
units_1: 256
learning_rate: 0.01
units_2: 128
units_3: 352
units_4: 160
units_5: 32
units_6: 64
units_7: 384
units_8: 384
units_9: 512
units_10: 160
Score: 7.211593310038249
Trial summary
Hyperparameters:
num_layers: 5
units_0: 352
units_1: 320
learning_rate: 0.0001
units_2: 352
units_3: 352
units_4: 128
units_5: 320
units_6: 160
units_7: 288
units_8: 352
Score: 7.2851487795511884
Trial summary
Hyperparameters:
num_layers: 7
units_0: 128
units_1: 384
learning_rate: 0.0001
units_2: 320
units_3: 160
units_4: 288
units_5: 512
units_6: 256
units_7: 320
units_8: 416
units_9: 512
units_10: 480
units_11: 256
units_12: 320
units_13: 96
units_14: 224
units_15: 96
units_16: 448
units_17: 128
units_18: 384
Score: 7.31782881418864
Trial summary
Hyperparameters:
num_layers: 19
units_0: 256
units_1: 96
learning_rate: 0.0001
units_2: 352
units_3: 384
units_4: 416
units_5: 192
units_6: 448
units_7: 256
units_8: 352
units_9: 288
units_10: 224
units_11: 32
units_12: 32
units_13: 32
units_14: 32
units_15: 32
units_16: 32
units_17: 32
units_18: 32
Score: 7.473485946655273
Trial summary
Hyperparameters:
num_layers: 15
units_0: 160
units_1: 416
learning_rate: 0.01
units_2: 416
units_3: 416
units_4: 416
units_5: 224
units_6: 64
units_7: 192
units_8: 480
units_9: 64
units_10: 416
units_11: 160
units_12: 480
units_13: 320
units_14: 160
units_15: 512
units_16: 288
units_17: 352
units_18: 256
Score: 7.736151059468587
Trial summary
Hyperparameters:
num_layers: 19
units_0: 288
units_1: 448
learning_rate: 0.01
units_2: 320
units_3: 320
units_4: 64
units_5: 224
units_6: 224
units_7: 256
units_8: 256
units_9: 96
units_10: 160
units_11: 352
units_12: 160
units_13: 480
units_14: 288
units_15: 256
units_16: 288
units_17: 384
units_18: 480
Score: 15.320568084716797

In [19]:
X_train.shape

(595, 7)

In [20]:
model = Sequential()
model.add(Dense(64, input_dim=7, activation='relu'))
model.add(Dense(480, input_dim= 64, activation='relu'))
model.add(Dense(288, input_dim= 480, activation='relu'))
model.add(Dense(96, input_dim= 288, activation='relu'))
model.add(Dense(192, input_dim= 96, activation='relu'))
model.add(Dense(448, input_dim= 192, activation='relu'))
model.add(Dense(288, input_dim= 448, activation='relu'))
model.add(Dense(160, input_dim= 288, activation='relu'))
model.add(Dense(320, input_dim= 160, activation='relu'))
model.add(Dense(288, input_dim= 320, activation='relu'))
model.add(Dense(480, input_dim= 288, activation='relu'))
model.add(Dense(64, input_dim= 480, activation='relu'))
model.add(Dense(512, input_dim= 64, activation='relu'))
model.add(Dense(32, input_dim= 512, activation='relu'))
model.add(Dense(256, input_dim= 32, activation='relu'))
model.add(Dense(96, input_dim= 256, activation='relu'))
model.add(Dense(480, input_dim= 96, activation='relu'))
model.add(Dense(1, activation='linear'))

In [21]:
keras.optimizers.Adam(lr=0.0001, beta_1=0.9, beta_2=0.999, amsgrad=False)
model.compile(loss='mean_squared_error', optimizer='RMSprop', metrics=['mean_absolute_percentage_error'])

In [22]:
from keras import callbacks 
earlystopping = callbacks.EarlyStopping(monitor ="val_loss",  
                                        mode ="min", patience = 5,  
                                        restore_best_weights = True)

In [23]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 64)                512
_________________________________________________________________
dense_4 (Dense)              (None, 480)               31200
_________________________________________________________________
dense_5 (Dense)              (None, 288)               138528
_________________________________________________________________
dense_6 (Dense)              (None, 96)                27744
_________________________________________________________________
dense_7 (Dense)              (None, 192)               18624
_________________________________________________________________
dense_8 (Dense)              (None, 448)               86464
_________________________________________________________________
dense_9 (Dense)              (None, 288)               129312
_________________________________________________________________
dense_10 (Dense)             (None, 160)               46240
_________________________________________________________________
dense_11 (Dense)             (None, 320)               51520
_________________________________________________________________
dense_12 (Dense)             (None, 288)               92448
_________________________________________________________________
dense_13 (Dense)             (None, 480)               138720
_________________________________________________________________
dense_14 (Dense)             (None, 64)                30784
_________________________________________________________________
dense_15 (Dense)             (None, 512)               33280
_________________________________________________________________
dense_16 (Dense)             (None, 32)                16416
_________________________________________________________________
dense_17 (Dense)             (None, 256)               8448
_________________________________________________________________
dense_18 (Dense)             (None, 96)                24672
_________________________________________________________________
dense_19 (Dense)             (None, 480)               46560
_________________________________________________________________
dense_20 (Dense)             (None, 1)                 481
=================================================================
Total params: 921,953
Trainable params: 921,953
Non-trainable params: 0
_________________________________________________________________

In [24]:
history = model.fit(X_train, Y_train, epochs=50, batch_size= 1,validation_split=0.15,validation_data=None,verbose=1,callbacks =[earlystopping])

Epoch 1/50
505/505 [==============================] - 6s 9ms/step - loss: 1728.5077 - mean_absolute_percentage_error: 52.6513 - val_loss: 571.2917 - val_mean_absolute_percentage_error: 30.3196
Epoch 2/50
505/505 [==============================] - 4s 7ms/step - loss: 661.8622 - mean_absolute_percentage_error: 32.0454 - val_loss: 360.9113 - val_mean_absolute_percentage_error: 23.4592
Epoch 3/50
505/505 [==============================] - 4s 7ms/step - loss: 359.0581 - mean_absolute_percentage_error: 24.8535 - val_loss: 384.5109 - val_mean_absolute_percentage_error: 31.7532
Epoch 4/50
505/505 [==============================] - 4s 8ms/step - loss: 246.1821 - mean_absolute_percentage_error: 21.6944 - val_loss: 161.8320 - val_mean_absolute_percentage_error: 15.6909
Epoch 5/50
505/505 [==============================] - 4s 8ms/step - loss: 161.2269 - mean_absolute_percentage_error: 16.6008 - val_loss: 151.0810 - val_mean_absolute_percentage_error: 14.0326
Epoch 6/50
505/505 [==============================] - 4s 8ms/step - loss: 151.7776 - mean_absolute_percentage_error: 18.4542 - val_loss: 142.5602 - val_mean_absolute_percentage_error: 14.2070
Epoch 7/50
505/505 [==============================] - 4s 8ms/step - loss: 109.5080 - mean_absolute_percentage_error: 14.3797 - val_loss: 116.4068 - val_mean_absolute_percentage_error: 13.4044
Epoch 8/50
505/505 [==============================] - 4s 7ms/step - loss: 107.7065 - mean_absolute_percentage_error: 13.2367 - val_loss: 67.6053 - val_mean_absolute_percentage_error: 11.1514
Epoch 9/50
505/505 [==============================] - 4s 8ms/step - loss: 108.1037 - mean_absolute_percentage_error: 13.4120 - val_loss: 173.3083 - val_mean_absolute_percentage_error: 16.6758
Epoch 10/50
505/505 [==============================] - 4s 8ms/step - loss: 88.8634 - mean_absolute_percentage_error: 12.2555 - val_loss: 60.9878 - val_mean_absolute_percentage_error: 10.3018
Epoch 11/50
505/505 [==============================] - 4s 7ms/step - loss: 85.7657 - mean_absolute_percentage_error: 13.9104 - val_loss: 54.6139 - val_mean_absolute_percentage_error: 10.0260
Epoch 12/50
505/505 [==============================] - 4s 7ms/step - loss: 83.0446 - mean_absolute_percentage_error: 12.4170 - val_loss: 70.8749 - val_mean_absolute_percentage_error: 12.1803
Epoch 13/50
505/505 [==============================] - 4s 7ms/step - loss: 79.5549 - mean_absolute_percentage_error: 11.8704 - val_loss: 76.1046 - val_mean_absolute_percentage_error: 12.7734
Epoch 14/50
505/505 [==============================] - 4s 8ms/step - loss: 73.1842 - mean_absolute_percentage_error: 12.1313 - val_loss: 53.3011 - val_mean_absolute_percentage_error: 9.5149
Epoch 15/50
505/505 [==============================] - 4s 8ms/step - loss: 78.7379 - mean_absolute_percentage_error: 12.1984 - val_loss: 47.7646 - val_mean_absolute_percentage_error: 8.9085
Epoch 16/50
505/505 [==============================] - 4s 8ms/step - loss: 70.5308 - mean_absolute_percentage_error: 10.9061 - val_loss: 53.0977 - val_mean_absolute_percentage_error: 9.8440
Epoch 17/50
505/505 [==============================] - 4s 8ms/step - loss: 72.9304 - mean_absolute_percentage_error: 11.4218 - val_loss: 38.8638 - val_mean_absolute_percentage_error: 8.5918
Epoch 18/50
505/505 [==============================] - 4s 8ms/step - loss: 70.8339 - mean_absolute_percentage_error: 11.1779 - val_loss: 35.0335 - val_mean_absolute_percentage_error: 8.2466
Epoch 19/50
505/505 [==============================] - 4s 8ms/step - loss: 71.3475 - mean_absolute_percentage_error: 11.0612 - val_loss: 44.4487 - val_mean_absolute_percentage_error: 8.5253
Epoch 20/50
505/505 [==============================] - 4s 8ms/step - loss: 73.7193 - mean_absolute_percentage_error: 11.7453 - val_loss: 53.7262 - val_mean_absolute_percentage_error: 9.4887
Epoch 21/50
505/505 [==============================] - 4s 8ms/step - loss: 64.4684 - mean_absolute_percentage_error: 10.1073 - val_loss: 63.1882 - val_mean_absolute_percentage_error: 10.1176
Epoch 22/50
505/505 [==============================] - 4s 8ms/step - loss: 64.9429 - mean_absolute_percentage_error: 11.5517 - val_loss: 75.6829 - val_mean_absolute_percentage_error: 10.7099
Epoch 23/50
505/505 [==============================] - 4s 8ms/step - loss: 68.6576 - mean_absolute_percentage_error: 11.8183 - val_loss: 89.4926 - val_mean_absolute_percentage_error: 12.2748

In [25]:
test.head()

,Unnamed: 0,gender,ethnicity,parental level of education,lunch,test preparation course,reading score,writing score
0,0,female,group C,some college,standard,none,67,72
1,1,male,group E,some college,standard,none,60,59
2,2,female,group C,bachelor's degree,standard,none,93,95
3,3,male,group D,associate's degree,standard,none,48,46
4,4,female,group B,associate's degree,standard,none,76,80

In [26]:
test.drop('Unnamed: 0', axis =1, inplace = True)

In [27]:
test['test preparation course']= label_encoder.fit_transform(test['test preparation course']) 
test['gender']= label_encoder.fit_transform(test['gender'])
test['lunch']= label_encoder.fit_transform(test['lunch'])
test['ethnicity']= label_encoder.fit_transform(test['ethnicity']) 
test['parental level of education']= label_encoder.fit_transform(test['parental level of education'])

In [28]:
test['reading score'] = scaler.fit_transform(test[['reading score']]) 
test['writing score'] = scaler.fit_transform(test[['writing score']])

In [29]:
output = model.predict(test)

In [30]:
output

array([[ 65.99905 ],
       [ 73.237045],
       [ 86.30706 ],
       [ 59.929806],
       [ 70.896286],
       [ 87.01982 ],
       [ 67.25601 ],
       [ 72.208496],
       [ 89.946686],
       [ 72.57996 ],
       [ 85.52898 ],
       [ 60.061134],
       [ 66.01727 ],
       [ 92.98656 ],
       [ 52.209454],
       [ 62.62111 ],
       [ 73.40531 ],
       [ 79.15696 ],
       [ 61.09843 ],
       [ 52.819996],
       [ 72.68642 ],
       [ 83.4048  ],
       [ 72.09285 ],
       [ 74.93468 ],
       [ 57.931675],
       [ 58.233852],
       [ 43.20313 ],
       [ 54.065434],
       [ 52.84318 ],
       [ 47.86532 ],
       [ 52.796093],
       [ 54.002457],
       [ 75.50676 ],
       [ 57.085182],
       [ 76.13634 ],
       [ 72.23854 ],
       [ 71.63377 ],
       [ 68.61684 ],
       [ 73.31572 ],
       [ 74.57116 ],
       [ 64.94887 ],
       [ 48.863632],
       [ 65.69302 ],
       [ 52.79578 ],
       [ 57.447643],
       [ 84.43791 ],
       [ 56.266895],
       [ 73.43373 ],
       [ 77.5402  ],
       [ 58.954132],
       [ 52.794926],
       [ 72.59349 ],
       [ 79.530334],
       [ 88.06006 ],
       [ 78.53259 ],
       [ 73.63888 ],
       [ 62.425484],
       [ 68.67215 ],
       [ 84.03183 ],
       [ 84.892555],
       [ 78.79409 ],
       [ 76.005356],
       [ 73.441605],
       [ 60.30475 ],
       [ 82.03245 ],
       [ 52.810074],
       [ 69.962845],
       [ 90.19583 ],
       [ 61.114494],
       [ 69.71929 ],
       [ 78.36489 ],
       [ 49.100517],
       [ 73.499344],
       [ 52.830265],
       [ 66.97329 ],
       [ 68.6833  ],
       [ 70.095505],
       [ 87.3768  ],
       [ 52.79451 ],
       [ 65.052246],
       [ 71.82307 ],
       [ 69.58879 ],
       [ 72.20391 ],
       [ 84.71399 ],
       [ 59.335567],
       [ 48.65174 ],
       [ 53.107082],
       [ 82.45087 ],
       [ 68.994095],
       [ 64.12059 ],
       [ 89.98935 ],
       [ 84.183426],
       [ 81.95809 ],
       [ 82.70798 ],
       [ 87.63133 ],
       [ 47.213966],
       [ 63.98463 ],
       [ 52.839783],
       [ 48.287956],
       [ 92.56133 ],
       [ 76.76878 ],
       [ 59.838642],
       [ 70.18009 ],
       [ 72.98451 ],
       [ 77.44607 ],
       [ 72.99541 ],
       [ 76.69426 ],
       [ 52.83588 ],
       [ 68.50991 ],
       [ 48.95714 ],
       [ 65.063126],
       [ 48.12522 ],
       [ 77.45395 ],
       [ 68.644135],
       [ 48.76625 ],
       [ 90.101074],
       [ 71.14926 ],
       [ 65.80379 ],
       [ 65.476295],
       [ 62.816563],
       [ 67.78911 ],
       [ 54.060955],
       [ 52.899418],
       [ 78.61249 ],
       [ 81.34176 ],
       [ 73.84699 ],
       [ 69.59544 ],
       [ 63.184853],
       [ 76.884705],
       [ 48.479366],
       [ 82.33456 ],
       [ 63.693417],
       [ 75.12271 ],
       [ 93.36429 ],
       [ 52.798496],
       [ 74.53923 ],
       [ 69.259125],
       [ 79.61386 ],
       [ 52.80245 ],
       [ 80.567955],
       [ 66.090775],
       [ 77.84943 ],
       [ 72.67847 ],
       [ 78.61624 ],
       [ 38.310158],
       [ 64.12208 ],
       [ 81.599785],
       [ 71.01839 ],
       [ 74.71456 ],
       [ 72.85397 ],
       [ 62.48185 ],
       [ 75.9844  ],
       [ 61.99836 ],
       [ 76.09117 ],
       [ 52.983738],
       [ 52.635014],
       [ 52.839012],
       [ 52.795094],
       [ 81.134094],
       [ 71.59434 ],
       [ 58.421486],
       [ 73.48093 ],
       [ 84.009346],
       [ 52.834347],
       [ 76.640724],
       [ 85.10926 ],
       [ 75.32353 ],
       [ 65.001396],
       [ 74.38019 ],
       [ 67.03136 ],
       [ 73.79132 ],
       [ 72.625565],
       [ 37.483154],
       [ 68.78148 ],
       [ 68.90169 ],
       [ 55.5807  ],
       [ 77.15296 ],
       [ 68.2048  ],
       [ 85.22643 ],
       [ 48.447384],
       [ 62.188835],
       [ 69.38645 ],
       [ 77.082855],
       [ 74.14804 ],
       [ 73.82024 ],
       [ 66.69228 ],
       [ 61.9398  ],
       [ 64.31825 ],
       [ 51.87466 ],
       [ 70.46205 ],
       [ 88.60812 ],
       [ 54.230892],
       [ 76.48723 ],
       [ 69.63774 ],
       [ 93.08424 ],
       [ 68.24625 ],
       [ 76.93336 ],
       [ 76.35503 ],
       [103.48678 ],
       [ 94.121765],
       [ 75.81818 ],
       [ 52.79517 ],
       [ 49.1157  ],
       [ 87.583046],
       [ 81.007614],
       [ 79.3741  ],
       [ 68.96263 ],
       [ 60.102734],
       [ 72.93402 ],
       [ 49.020184],
       [ 79.40553 ],
       [ 64.88321 ],
       [ 83.23009 ],
       [ 61.958897],
       [ 65.742325],
       [ 54.468136],
       [ 75.98656 ],
       [ 78.15265 ],
       [ 58.239063],
       [ 65.38016 ],
       [ 67.17121 ],
       [ 85.23717 ],
       [ 82.15611 ],
       [ 62.415874],
       [ 77.83786 ],
       [ 65.20422 ],
       [ 67.3987  ],
       [ 79.36392 ],
       [ 59.59045 ],
       [ 63.718933],
       [ 52.79739 ],
       [ 70.50983 ],
       [ 50.764103],
       [ 71.72571 ],
       [ 63.43631 ],
       [ 73.043594],
       [ 73.26538 ],
       [ 84.424866],
       [ 69.01772 ],
       [ 71.88888 ],
       [ 50.316814],
       [ 83.643524],
       [ 48.40693 ],
       [ 77.56482 ],
       [ 53.267544],
       [ 66.73516 ],
       [ 85.15073 ],
       [ 63.429516],
       [ 80.36542 ],
       [ 52.799477],
       [ 64.167046],
       [ 75.44816 ],
       [ 76.39772 ],
       [ 93.37015 ],
       [ 52.386925],
       [ 58.511898],
       [ 85.10935 ],
       [ 79.47496 ],
       [ 60.42204 ],
       [ 70.368164],
       [ 58.411705],
       [ 62.693   ],
       [ 37.483154],
       [ 52.798275],
       [ 78.46948 ],
       [ 68.809814],
       [ 58.730896],
       [ 85.977844],
       [ 67.929405],
       [ 80.38884 ],
       [ 80.9443  ],
       [ 84.37805 ],
       [ 78.22881 ],
       [ 48.701435],
       [ 62.90776 ],
       [ 69.020164],
       [ 62.495026],
       [ 75.03673 ],
       [ 52.793797],
       [ 48.612896],
       [ 59.46706 ],
       [ 37.483154],
       [ 71.201355],
       [ 72.04083 ],
       [ 86.62456 ],
       [ 79.88725 ],
       [ 75.59327 ],
       [ 73.417496],
       [ 58.940613],
       [ 82.99389 ],
       [ 82.875534],
       [ 62.3846  ],
       [ 52.813145],
       [ 62.147366],
       [ 68.30795 ],
       [ 74.587585],
       [ 52.81052 ],
       [ 56.65845 ],
       [ 92.61511 ],
       [ 75.390335]], dtype=float32)

In [31]:
submission = pd.DataFrame(output)
submission.to_csv('outputpp.csv', index=False)